<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ASCII' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @coder.name %></h1>
    <p>
      thank you for signing the <a href="https://manifesto.responsiblesoftware.org/">manifesto</a>! In this moment we encrypted your email in our database, so this is the only mail you will receive from us.
    </p>

    <p>
      Do you know others who might also want to show that they acknowledge their responsibility as software developers? Tell them about the <a href="https://manifesto.responsiblesoftware.org/">manifesto</a>!
    </p>

    <p>
      You could
      <ul>
        <li>Simply forward this email</li>
        <li><a href="https://twitter.com/intent/tweet?hashtags=ResponsibleCoder&original_referer=https%3A%2F%2Fmanifesto.responsiblesoftware.org%2F&ref_src=twsrc%5Etfw&text=Do%20you%20take%20%23responsibility%20for%20your%20work%20as%20a%20software%20developer%3F&tw_p=tweetbutton&url=http%3A%2F%2Fmanifesto.responsiblesoftware.org">Tweet about the manifesto</a></li>
      </ul>
    </p>

    <p>
      Friederike & Nils Loewe
    </p>
  </body>
</html>
