<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ASCII' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo <%= @coder.name %></h1>
    <p>
      folge einfach diesem Link um das Manifest für verantwortungsvolle Softwareentwicklung zu unterzeichnen: <%= link_to "Unterzeichnen!", @url %>
    </p>
    <p>
      Danke für Deine Unterstützung!
    </p>
    <p>
      Friederike & Nils Loewe
    </p>
  </body>
</html>
