<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ASCII' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @coder.name %></h1>
    <p>
      just follow the link to sign the Manifesto for Responsible Software Development: <%= link_to "Sign the manifesto!", @url %>
    </p>
    <p>
      Thank you for your support!
    </p>
    <p>
      Friederike & Nils Loewe
    </p>
  </body>
</html>
