<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ASCII' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @coder.name %></h1>
    <p>
    فقط اتبع الرابط للتوقيع على الميثاق: <%= link_to "Sign the manifesto!", @url %>
    </p>
    <p>
      شكراَ جزيلا على الدعم !!
    </p>
    <p>
      Friederike & Nils Loewe
    </p>
  </body>
</html>
