<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ASCII' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @coder.name %></h1>
    <p>
      Haz clic en el enlace para firmar el Manifiesto por el Desarrollo Responsable de Software: <%= link_to "¡Firmar el manifiesto!", @url %>
    </p>
    <p>
      ¡Gracias por tu apoyo!
    </p>
    <p>
      Friederike & Nils Loewe
    </p>
  </body>
</html>
