.welcome-area.bg-1.bg-opacity-black-70{"data-stellar-background-ratio" => "0.5"}
  .d-table
    .d-table-cell
      .container
        .row
          .col-md-12
            .cd-intro.text-center
              %h3.color-white.ls-2.fz-45.mb-30=I18n.t('manifesto.title')
              %h4.color-white.ls-2=I18n.t('manifesto.headline.row1')
              %h4.color-white.ls-2=I18n.t('manifesto.headline.row2')
              %h4.color-white.ls-2.mb-50=I18n.t('manifesto.headline.row3')
              .links
                %a.smooth.button-hover.color-white.color-hover-white{:href => "#manifesto"} More
