/*
 *= require bootstrap.min
 *= require jquery-ui
 *= require responsive
 *= require_self
*/

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  background: #666;
  font-size: 9pt;
  z-index:9;
  color: #f2f2f2;
}

.footer .container-fluid .row {
  margin: 10px 0;
}

.footer a {
  color: #bbb;
  text-decoration: underline;
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#footer{
  bottom:0px;
}

#manifesto {
  background: #FFFEFD;
  padding: 25px 0px 50px;
}

#form {
  background: #F7F7F9;
  padding: 50px 0px;
}

#signers {
  background: #FDFCFB;
  padding: 50px 0px;
}

.manifesto-title h1 {
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
}

.manifesto-head h3 {
  font-size: 14pt;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.manifesto-small-head h3 {
  font-size: 14pt;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
}

.manifiesto-i18n p {
    margin-top: 10px;
    text-align: center;
}

.manifesto-content {
  padding: 25px 10px 0px;
  font-size: 12pt;
}

.manifesto-content p {
  padding: 0px 0px 0px 25px;
}

.manifesto-content i {
  font-size: 12pt;
}

.manifesto-link {
  padding: 25px 10px;
}

.manifesto-short h1 {
  font-size: 16pt;
  font-weight: bold;
  padding: 0px 10px 25px;
}

.manifesto-short p {
  font-size: 12pt;
  font-weight: bold;
  padding: 0px 25px 0px;
}

.manifesto-form {
  padding: 25px 10px 0px;
}

.manifesto-privacy {
  font-size: 8pt;
  padding: 25px 10px;
}

.manifesto-signers {
  padding: 25px 5px 25px;
}

.coder {
  padding-top: 15px;
}

.g-recaptcha {
   margin: 15px auto !important;
}
