@media (min-width: 769px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

  #github {
    display: none;
    visibility:hidden;
  }

  #footer{
    font-size: 4pt;
    height: 50px;
  }
}

@media (max-width: 480px) {

}
